@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('public/Source_Code_Pro.woff2') format('woff2');
  font-display: swap;
}

body {
    font-family: 'Source Code Pro';
    font-size: 24px;
    color: #333333;
    background-color: #E2E2D8;
    margin: 0px;
}

.header {
    border-top: 1px solid black;
    padding: 10px 0px 10px 5px;
}

.sketchbox {
    display: none;
    padding-bottom: 20px;
    width: 100%;
}

.sketch {
    width: 1800px;
    height: 900px; 
    overflow: hidden;
    border: none;
}

.unlocked {
    cursor: pointer;
}

.unlocked:hover {
    cursor: pointer;
    text-decoration: underline;
}

.locked {
    cursor: default;
}